.hero-container {
    position: relative;
    z-index: 100;
}

.hero-text {
    position: relative;
    z-index: 200;
}

.movie-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 90%;
  }
  
.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.movie-view-container {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    padding-top: 56px; /* Adjust this value if your navbar height changes */
}

.movie-view-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure the overlay is in front of the backdrop */
}

.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the home-page takes up the full height */
    background-color: #000; /* Ensure the background color is applied */
  }

.container {
    position: relative;
    z-index: 2; /* Ensure the content is in front of the overlay */
}

.custom-carousel {
    position: relative;
    max-width: 1000px; /* Adjust the max width as needed */
    margin: 40px auto; /* Center the carousel and add spacing at the top */
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  }
  
  .custom-carousel-img {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .carousel-caption {
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    color: #fff;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition for transform */
    background-color: rgba(0, 0, 0, 0.6); /* Background color to enhance readability */
    border-radius: 0.5rem;
  }
  
  .carousel-item:hover .carousel-caption {
    opacity: 1; /* Show the caption on hover */
    transform: translate(-50%, -40%); /* Adjust transform to slide up */
  }
  
  .carousel-item {
    position: flex;
    overflow: hidden; /* Ensure content doesn't overflow */
  }
  
  .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 0.3s ease-in-out;
    z-index: 1;
  }
  
  
  .carousel-caption h5, .carousel-caption p {
    margin: 0;
  }

  .carousel-caption .btn {
    margin-top: 10px; /* Add some space above the button */
  }

  .badge {
    font-size: 1rem;
    padding: 10px;
    border-radius: 0.5rem;
  }