.hero-container {
    position: relative;
    z-index: 100;
}

.hero-text {
    position: relative;
    z-index: 200;
}

.movie-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 90%;
  }
  
.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.movie-view-container {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    padding-top: 56px; /* Adjust this value if your navbar height changes */
}

.movie-view-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure the overlay is in front of the backdrop */
}

.list-group-item {
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0), #9a1d1d);
  color: #fff; /* Ensure text color contrasts with the background */
  border: none; /* Remove default border for a cleaner look */
  margin: 0.5rem 0; /* Add some spacing between items */
}




.home-page {
    display: flex;
    min-height: 100vh; /* Make sure the home-page takes up the full height */
    background-color: #000; /* Ensure the background color is applied */
}

.container {
    position: relative;
    z-index: 2; /* Ensure the content is in front of the overlay */
}

.custom-carousel {
  position: relative;
  width: 100%; /* Adjust the max width as needed */
  max-height: 100vh;
  background-color: #fff;
}

.custom-carousel-img {
  width: 100%;
  height: auto;
  max-height: 100vh; /* Ensure the image does not exceed the carousel height */
  object-fit: cover; /* Cover the entire area without stretching */
  object-position: top;
}

  
.carousel-caption-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, #000);
  display: flex;
  padding: 20px;
}

.carousel-caption {
  width: 100%;
  color: #fff;
}

.carousel-caption .carousel-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: .4rem;
  text-align: left;
}

.carousel-caption .carousel-subtitle {
  display: flex;
  font-size: 2rem;
  gap: 30px;
  margin-bottom: .1rem;
}

.carousel-caption .carousel-overview {
  display: flex;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 8rem;
  text-align: left;
  width: 50%;
}



.badge {
  font-size: 1rem;
  padding: 10px;
  border-radius: 0.5rem;
}

/* MovieView.css */

.poster-container {
  position: relative;
}

.img-fluid.shadow.rounded {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-fluid.shadow.rounded:hover {
  transform: scale(1.05); /* Scale up the image */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Add a larger shadow */
}

.button.play-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0; /* Initially hidden */
}

.poster-container:hover .button.play-video {
  opacity: 1; /* Show the button on hover */
  transform: translate(-50%, -50%) scale(1.1); /* Scale up the button slightly */
}

.trailer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.trailer-content {
  position: relative;
  width: 80%;
  height: 80%;
}

.youtube.amru {
  width: 80%;
  height: 80%;
}

.youtube-container.amru {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.youtube-container.amru iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-close {
  position: absolute;
  top: 70px;
  right: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button.close-video:hover {
  background-color: rgba(0, 0, 0, 1); /* Darken on hover */
}

/* Container for the Recommendation Carousel */
.rec_carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 20px; /* Adjust as needed */
}


/* Recommendation Card */
.recommendation-card {
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;

}

.recommendation-card img {
  width: 100%;
  height: auto;
  float: left;
}

.recommendation-card .card-body {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.recommendation-card:hover .card-body {
  transform: translateY(0);
}

.recommendation-card .card-title {
  font-size: 1.2rem;
  margin: 0;
}

.recommendation-card .card-text {
  font-size: 0.875rem;
  color: #ccc;
}


.recommendation-card .rating {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.rec-carousel-controls {
  position: relative;
}

.rec-carousel-control-prev,
.rec-carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 20px; /* Increase the padding for larger controls */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.5rem; /* Increase the font size for larger controls */
}

.rec-carousel-control-prev {
  left: 40px; /* Adjust the distance from the left side */
}

.rec-carousel-control-next {
  right: 40px; /* Adjust the distance from the right side */
}

.rec-carousel-control-prev:disabled,
.rec-carousel-control-next:disabled {
  cursor: not-allowed;
}