.hero-container {
    position: relative;
    z-index: 100;
}

.hero-text {
    position: relative;
    z-index: 200;
}

.movie-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 90%;
  }
  
.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.movie-view-container {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    padding-top: 56px; /* Adjust this value if your navbar height changes */
}

.movie-view-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure the overlay is in front of the backdrop */
}

.list-group-item {
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0), #9a1d1d);
  color: #fff; /* Ensure text color contrasts with the background */
  border: none; /* Remove default border for a cleaner look */
  margin: 0.5rem 0; /* Add some spacing between items */
}




.home-page {
    display: flex;
    min-height: 100vh; /* Make sure the home-page takes up the full height */
    background-color: #000; /* Ensure the background color is applied */
}

.container {
    position: relative;
    z-index: 2; /* Ensure the content is in front of the overlay */
}

.custom-carousel {
  position: relative;
  width: 100%; /* Adjust the max width as needed */
  max-height: 100vh;
  background-color: #fff;
}

.custom-carousel-img {
  width: 100%;
  height: auto;
  max-height: 100vh; /* Ensure the image does not exceed the carousel height */
  object-fit: cover; /* Cover the entire area without stretching */
  object-position: top;
}

  
.carousel-caption-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, #000);
  display: flex;
  padding: 20px;
}

.carousel-caption {
  width: 100%;
  color: #fff;
}

.carousel-caption .carousel-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: .4rem;
  text-align: left;
}

.carousel-caption .carousel-subtitle {
  display: flex;
  font-size: 2rem;
  gap: 30px;
  margin-bottom: 1rem;
}

.carousel-caption .carousel-overview {
  display: flex;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: .25rem;
  text-align: left;
  width: 50%;
}



.badge {
  font-size: 1rem;
  padding: 10px;
  border-radius: 0.5rem;
}

